@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

.corner-mask {
  --s: 20px; /* the size on the corner */
  --t: 4px; /* the thickness of the border */
  --g: 8px; /* the gap between the border and image */
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #ffffff; /* the color here */
  outline-offset: calc(-1 * var(--t));
  mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
}

.corner-mask-p {
  --s: 20px; /* the size on the corner */
  --t: 4px; /* the thickness of the border */
  --g: 20px; /* the gap between the border and image */
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #ffffff; /* the color here */
  outline-offset: calc(-1 * var(--t));
  mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
}

.pulsing-effect {
  animation: hue-rotate 1s infinite;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(3deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.blinking-effect {
  width: 100%;
  height: auto;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.highlight-pulse {
  filter: brightness(1) contrast(1); /* Base highlight */
  animation: pulseHighlight 3s infinite ease-in-out; /* Animation */
}

@keyframes pulseHighlight {
  0%,
  100% {
    filter: brightness(1) contrast(1); /* Base state */
  }
  50% {
    filter: brightness(1.1) contrast(1.15); /* Highlight peak */
  }
}

.pink-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 105, 180, 0.2); /* Light pink overlay */
  mix-blend-mode: multiply; /* Blend with the image to brighten pink tones */
  animation: brightenPink 3s infinite ease-in-out; /* Animate blending */
}

@keyframes brightenPink {
  0%,
  100% {
    background-color: rgba(255, 105, 180, 0.2); /* Subtle pink */
  }
  50% {
    background-color: rgba(255, 105, 180, 0.5); /* Brighten pink at peak */
  }
}
